<% if @search_data.results? %>
  <%= render_aspace_partial :partial => "shared/pagination_summary" %>

  <div class="clearfix"></div>

  <div class="panel-group">
    <% @search_data['results'].each_with_index do |result, index|
      result_json = JSON.parse(result["json"])

      accession_id = result_json["id_0"]

      extent_statements = []
      result_json["extents"].each do |extent|
        extent_number = extent["number"]
        extent_type = I18n.t('enumerations.extent_extent_type.' + extent["extent_type"], :default => extent["extent_type"])
        extent_statements << "#{extent_number} #{extent_type}"
      end

      donor = result_json["linked_agents"][0] ? result_json["linked_agents"][0]["_resolved"] : nil
      if donor
        donor_name = donor["title"]
        donor_number = donor["donor_details"][0] ? donor["donor_details"][0]["donor_number"] : "No Donor Number"
      end

      collection_management = result_json["collection_management"] ? result_json["collection_management"] : nil
      if collection_management
        processing_status = collection_management["processing_status"] ? collection_management["processing_status"] : nil
        processing_priority = collection_management["processing_priority"] ? collection_management["processing_priority"] : nil
      end

      if result["classification_identifiers_u_sstr"]
        classifications = result["classification_identifiers_u_sstr"]
      else
        classifications = []
      end

      content_description = result_json["content_description"] ? result_json["content_description"] : nil
     %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <div><span>Accession</span></div>
      </div>
      <div class="panel-body">
        <p>Accession ID: <%= accession_id %></p>
        <p>Accession Date: <%= result_json["accession_date"] %></p>
        <% if extent_statements.length > 0 %>
          <p>Extent: <%= extent_statements.join(", ") %></p>
        <% end %>        
        <p>Description: <%= clean_mixed_content("#{content_description}").html_safe %></p>
        <% if collection_management %>
          <% if processing_status %>
            <p>Processing Status: <%= "#{processing_status}" %></p>
          <% end %>
          <% if processing_priority %>
            <p>Processing Priority: <%= "#{processing_priority}" %></p>
          <% end %>
        <% end %>
        <% if classifications.length > 0 %>
          <p>Classification: <%= classifications.join(", ") %></p>
        <% end %>
        <% if donor %>
          <p>Donor: <%= "#{donor_name} (#{donor_number})" %> <%= link_to "[view all from donor]", build_search_params({"add_filter_term" => {"sources_u_sstr" => donor_name}.to_json}) %></p>
        <% end %>
        <%= link_to I18n.t("actions.view"), {:controller => :resolver, :action => :resolve_readonly, :uri => result["id"]}, :class => "btn btn-block btn-primary" %>
        <% if can_edit_search_result?(result) %>
          <%= link_to I18n.t("actions.edit"), {:controller => :resolver, :action => :resolve_edit, :uri => result["id"]}, :class => "btn btn-block btn-info" %>
        <% end %>
      </div>

      <!-- Uncomment the footer below to toggle the full ArchivesSpace search result JSON for each accession. Useful for debugging or adding new fields. -->
      <!--<div class="panel-footer">
        <div class="row collapsed" data-toggle="collapse" href="#search_result_<%= index %>">
          <div class="col-md-7">View Result JSON</div>
        </div>
        <div class="collapse" id="search_result_<%= index %>">
          <%= result %>
        </div>
      </div>-->

    </div>

    <% end %>
  </div>
  <%= render_aspace_partial :partial => "shared/pagination" %>
<% else %>
  <p class="alert alert-info">
    <%= I18n.t("search_results.no_results") %>
  </p>
<% end %>
